.head {
    text-align: center;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #search {
      padding-left:10%;
  }